In [83]:
import numpy as np
import pandas as pd
import tensorflow as tf
from keras.utils import to_categorical
from keras.models import Sequential
from keras import layers
from keras import regularizers

In [84]:
data = pd.read_csv("ionosphere_data.csv")

In [85]:
data.head()

   feature1  feature2  feature3  ...  feature33  feature34  label
0         1         0   0.99539  ...    0.18641   -0.45300      g
1         1         0   1.00000  ...   -0.13738   -0.02447      b
2         1         0   1.00000  ...    0.56045   -0.38238      g
3         1         0   1.00000  ...   -0.32382    1.00000      b
4         1         0   1.00000  ...   -0.04608   -0.65697      g

[5 rows x 35 columns]

In [86]:
data = pd.get_dummies(data,columns = ["label"])

In [87]:
data.head()

   feature1  feature2  feature3  ...  feature34  label_b  label_g
0         1         0   0.99539  ...   -0.45300        0        1
1         1         0   1.00000  ...   -0.02447        1        0
2         1         0   1.00000  ...   -0.38238        0        1
3         1         0   1.00000  ...    1.00000        1        0
4         1         0   1.00000  ...   -0.65697        0        1

[5 rows x 36 columns]

In [88]:
data.isnull().sum()

feature1     0
feature2     0
feature3     0
feature4     0
feature5     0
feature6     0
feature7     0
feature8     0
feature9     0
feature10    0
feature11    0
feature12    0
feature13    0
feature14    0
feature15    0
feature16    0
feature17    0
feature18    0
feature19    0
feature20    0
feature21    0
feature22    0
feature23    0
feature24    0
feature25    0
feature26    0
feature27    0
feature28    0
feature29    0
feature30    0
feature31    0
feature32    0
feature33    0
feature34    0
label_b      0
label_g      0
dtype: int64

In [89]:
Input = data.iloc[:,:-2]
Output = data.iloc[:,-2:]
X_train = Input.iloc[:210,:]
Y_train = Output.iloc[:210,:]
X_test = Input.iloc[210:,:]
Y_test = Output.iloc[210:,:]

In [75]:
def normalize(x):
  mean_x = x.mean(axis = 0)
  std_x = x.std(axis =0)
  x-=mean_x
  x/=std_x

normalize(X_train)
normalize(X_test)

In [90]:
Input.head()

   feature1  feature2  feature3  ...  feature32  feature33  feature34
0         1         0   0.99539  ...   -0.54487    0.18641   -0.45300
1         1         0   1.00000  ...   -0.06288   -0.13738   -0.02447
2         1         0   1.00000  ...   -0.24180    0.56045   -0.38238
3         1         0   1.00000  ...    1.00000   -0.32382    1.00000
4         1         0   1.00000  ...   -0.59573   -0.04608   -0.65697

[5 rows x 34 columns]

In [91]:
Output.head()

   label_b  label_g
0        0        1
1        1        0
2        0        1
3        1        0
4        0        1

In [116]:
model = Sequential()
model.add(layers.Dense(16,activation = "relu", kernel_regularizer= regularizers.l2(0.001), input_shape = (X_train.shape[1],)))
model.add(layers.Dense(8, kernel_regularizer=regularizers.l2(0.001),activation="relu"))
model.add(layers.Dense(2,activation= "sigmoid"))

In [117]:
model.compile(optimizer = "rmsprop",loss = "binary_crossentropy",metrics = ["accuracy"])

In [118]:
model.fit(Input,Output,epochs= 15,batch_size = 10)

Epoch 1/15
36/36 [==============================] - 1s 1ms/step - loss: 0.6606 - accuracy: 0.7668
Epoch 2/15
36/36 [==============================] - 0s 2ms/step - loss: 0.5850 - accuracy: 0.7650
Epoch 3/15
36/36 [==============================] - 0s 1ms/step - loss: 0.5381 - accuracy: 0.7867
Epoch 4/15
36/36 [==============================] - 0s 1ms/step - loss: 0.5128 - accuracy: 0.8248
Epoch 5/15
36/36 [==============================] - 0s 1ms/step - loss: 0.4693 - accuracy: 0.8255
Epoch 6/15
36/36 [==============================] - 0s 2ms/step - loss: 0.4242 - accuracy: 0.8768
Epoch 7/15
36/36 [==============================] - 0s 1ms/step - loss: 0.4053 - accuracy: 0.8706
Epoch 8/15
36/36 [==============================] - 0s 1ms/step - loss: 0.3627 - accuracy: 0.8988
Epoch 9/15
36/36 [==============================] - 0s 1ms/step - loss: 0.3428 - accuracy: 0.9227
Epoch 10/15
36/36 [==============================] - 0s 1ms/step - loss: 0.3481 - accuracy: 0.9071
Epoch 11/15
36/36 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.9096
Epoch 12/15
36/36 [==============================] - 0s 2ms/step - loss: 0.2770 - accuracy: 0.9330
Epoch 13/15
36/36 [==============================] - 0s 2ms/step - loss: 0.3017 - accuracy: 0.9112
Epoch 14/15
36/36 [==============================] - 0s 1ms/step - loss: 0.2537 - accuracy: 0.9358
Epoch 15/15
36/36 [==============================] - 0s 2ms/step - loss: 0.2345 - accuracy: 0.9381

In [119]:
model.evaluate(X_train,Y_train)

7/7 [==============================] - 0s 2ms/step - loss: 0.2455 - accuracy: 0.9333

[0.24549376964569092, 0.9333333373069763]

In [120]:
model.predict(X_test)

array([[9.74154890e-01, 2.48100758e-02],
       [1.65901750e-01, 8.48183036e-01],
       [9.48890328e-01, 3.12551856e-02],
       [3.02706361e-02, 9.74515975e-01],
       [3.94800484e-01, 6.93747997e-01],
       [1.10274762e-01, 8.94723892e-01],
       [5.44668198e-01, 2.52189159e-01],
       [9.42145586e-02, 9.19108450e-01],
       [9.96386945e-01, 5.43275476e-03],
       [1.01111770e-01, 8.95931721e-01],
       [9.98646975e-01, 1.67202950e-03],
       [1.65163994e-01, 8.39856207e-01],
       [5.10958731e-01, 3.94852847e-01],
       [9.56083536e-02, 9.12001133e-01],
       [6.11193419e-01, 2.77548552e-01],
       [1.08666956e-01, 8.80686283e-01],
       [8.07270885e-01, 1.66455686e-01],
       [5.92527986e-02, 9.50001717e-01],
       [7.76876509e-01, 1.59869701e-01],
       [2.71807253e-01, 7.39267647e-01],
       [8.48358989e-01, 1.69981092e-01],
       [3.72470021e-02, 9.70638275e-01],
       [9.99710321e-01, 7.83979893e-04],
       [1.48172289e-01, 8.69413614e-01],
       [3.32872570e-01, 7.26229787e-01],
       [2.51443923e-01, 7.56112099e-01],
       [3.43470514e-01, 6.67095959e-01],
       [1.10132098e-01, 9.03008938e-01],
       [8.68020773e-01, 1.44855112e-01],
       [8.81590247e-02, 9.26702678e-01],
       [9.86025572e-01, 1.89272463e-02],
       [4.15786207e-02, 9.67578232e-01],
       [9.29977655e-01, 6.22710288e-02],
       [4.15402949e-02, 9.67266560e-01],
       [4.08413202e-01, 5.75430334e-01],
       [5.40832281e-02, 9.55485344e-01],
       [6.82426453e-01, 2.75618613e-01],
       [2.62390316e-01, 7.53551662e-01],
       [8.94926429e-01, 9.28310156e-02],
       [6.74684644e-02, 9.42384422e-01],
       [9.88680720e-01, 1.22061372e-02],
       [5.65404594e-02, 9.51311290e-01],
       [9.74476099e-01, 2.61784792e-02],
       [7.29917586e-02, 9.29575682e-01],
       [1.90456301e-01, 7.93724418e-01],
       [1.12258285e-01, 8.86663318e-01],
       [1.39316827e-01, 8.68285656e-01],
       [2.12256670e-01, 8.09112251e-01],
       [1.21065706e-01, 8.92253518e-01],
       [6.57753050e-02, 9.43569541e-01],
       [2.64645994e-01, 7.41251290e-01],
       [1.29321784e-01, 8.68011475e-01],
       [8.01251829e-02, 9.16247547e-01],
       [9.48822200e-02, 8.97572875e-01],
       [9.63270962e-02, 8.91242981e-01],
       [1.07750297e-01, 8.86250257e-01],
       [1.46535814e-01, 8.62406850e-01],
       [1.92312688e-01, 7.98002481e-01],
       [1.14969969e-01, 8.98404121e-01],
       [8.67896974e-02, 9.26887512e-01],
       [3.55229080e-02, 9.73077357e-01],
       [4.42732871e-01, 5.63272476e-01],
       [1.37274206e-01, 8.77014041e-01],
       [1.97799832e-01, 8.15145135e-01],
       [1.40026689e-01, 8.84193599e-01],
       [7.90074170e-02, 9.34324741e-01],
       [1.80883616e-01, 8.35122168e-01],
       [3.05663347e-01, 7.16504574e-01],
       [9.03780162e-02, 9.06751513e-01],
       [9.25465524e-02, 9.00681973e-01],
       [7.75364935e-02, 9.30805087e-01],
       [8.30885172e-02, 9.20376301e-01],
       [6.31882250e-02, 9.50365722e-01],
       [8.08774829e-02, 9.33311939e-01],
       [4.61308599e-01, 5.49349904e-01],
       [1.00045562e-01, 8.91609192e-01],
       [1.70535117e-01, 8.57678890e-01],
       [5.38736880e-02, 9.57097113e-01],
       [5.85926175e-02, 9.50090587e-01],
       [6.37225509e-02, 9.49647427e-01],
       [4.90271777e-01, 5.66821158e-01],
       [1.17067963e-01, 9.02244091e-01],
       [5.27873337e-02, 9.57728386e-01],
       [6.59354329e-02, 9.45580602e-01],
       [1.56590194e-01, 8.49386215e-01],
       [1.71940774e-01, 8.53053212e-01],
       [8.11754167e-02, 9.37932730e-01],
       [5.55591881e-02, 9.57983255e-01],
       [6.04768097e-02, 9.53876257e-01],
       [5.46275079e-02, 9.59065199e-01],
       [3.70185375e-02, 9.73752141e-01],
       [5.68409264e-02, 9.51881409e-01],
       [3.46717834e-02, 9.72778618e-01],
       [3.79174054e-02, 9.70431089e-01],
       [4.64521945e-02, 9.59546924e-01],
       [1.62278205e-01, 8.42069507e-01],
       [2.62852520e-01, 7.52031744e-01],
       [9.75933671e-02, 9.19929028e-01],
       [9.01247561e-02, 9.26584244e-01],
       [4.95235324e-02, 9.62646484e-01],
       [3.46618593e-02, 9.74862754e-01],
       [4.16112244e-02, 9.64125872e-01],
       [3.32543254e-02, 9.74367499e-01],
       [8.19506049e-02, 9.31732178e-01],
       [6.83659315e-02, 9.45901036e-01],
       [4.76690233e-02, 9.62093651e-01],
       [4.63515520e-02, 9.59322870e-01],
       [6.19733632e-02, 9.48475897e-01],
       [7.29622841e-02, 9.41776037e-01],
       [4.82994020e-02, 9.61946368e-01],
       [3.24316919e-02, 9.75138724e-01],
       [4.64541614e-02, 9.63324904e-01],
       [4.41419482e-02, 9.64734912e-01],
       [3.22812617e-01, 6.79109633e-01],
       [5.47174811e-02, 9.54320967e-01],
       [4.88979816e-02, 9.60014820e-01],
       [4.77832854e-02, 9.56810355e-01],
       [1.35730505e-01, 8.47255945e-01],
       [2.01466858e-01, 8.03229928e-01],
       [4.14770544e-02, 9.67096925e-01],
       [6.07801378e-02, 9.49369013e-01],
       [5.83984852e-02, 9.54168439e-01],
       [5.28519750e-02, 9.57030237e-01],
       [3.61155868e-02, 9.72282052e-01],
       [3.32246125e-02, 9.74662721e-01],
       [3.61666679e-02, 9.71862793e-01],
       [5.08047640e-02, 9.58889604e-01],
       [5.17558157e-02, 9.52616453e-01],
       [2.12085575e-01, 7.73495913e-01],
       [1.72209442e-01, 8.17247391e-01],
       [4.50375646e-01, 5.53319573e-01],
       [3.92524600e-02, 9.69006181e-01],
       [6.24359548e-02, 9.47756052e-01],
       [1.78452134e-01, 8.41013670e-01],
       [6.13988340e-02, 9.49504852e-01],
       [1.27552360e-01, 9.05179799e-01],
       [5.83112240e-02, 9.51996326e-01],
       [4.18188274e-02, 9.67215538e-01],
       [4.14549708e-02, 9.66777563e-01],
       [4.21977341e-02, 9.66697931e-01],
       [4.98462319e-02, 9.61482286e-01]], dtype=float32)